[submodule "caffe-fast-rcnn"]
	path = caffe-fast-rcnn
	url = https://github.com/matzek92/caffe.git
	branch = caffe-py-faster-rcnn
[submodule "caffe_fork-11724_fast-rcnn"]
	path = caffe_fork-11724_fast-rcnn
	url = https://github.com/matzek92/caffe.git
